body{
	background: #1d1d1d;
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
}
img{
	max-width: 100%;
	height: auto;
}
h3{
	font-size: 44px;
}
h4{
	font-size: 36px;
	font-style: italic;
}

/*======header======*/

.main-header{
	background: url(img/fon.png) center no-repeat;
	background-size: cover;
	height: 100vh;
}
